<table class="tg">
    <tr>
        <th class="tg-e3zv"></th>
        <th class="tg-hgcj">Errors<br>added</th>
        <th class="tg-hgcj">Errors<br>resolved</th>
        <th class="tg-hgcj">Wanings<br>added</th>
        <th class="tg-hgcj">Warnings<br>resolved</th>
        <th class="tg-hgcj">Errors<br>total</th>
        <th class="tg-hgcj">Warnings<br>total</th>
    </tr>
    <tr>
        <td class="tg-e3zv">WSDLs</td>
        <td class="tg-ttug">{{WSDL_ERR_ADDED}}</td>
        <td class="tg-760q">{{WSDL_ERR_RESOLVED}}</td>
        <td class="tg-ttug">{{WSDL_WARN_ADDED}}</td>
        <td class="tg-760q">{{WSDL_WARN_RESOLVED}}</td>
        <td class="tg-ttug">{{WSDL_ERR_TOTAL}}</td>
        <td class="tg-ttug">{{WSDL_WARN_TOTAL}}</td>
    </tr>
    <tr>
        <td class="tg-e3zv">Schemas</td>
        <td class="tg-ttug">{{SCHEMA_ERR_ADDED}}</td>
        <td class="tg-760q">{{SCHEMA_ERR_RESOLVED}}</td>
        <td class="tg-ttug">{{SCHEMA_WARN_ADDED}}</td>
        <td class="tg-760q">{{SCHEMA_WARN_RESOLVED}}</td>
        <td class="tg-ttug">{{SCHEMA_ERR_TOTAL}}</td>
        <td class="tg-ttug">{{SCHEMA_WARN_TOTAL}}</td>
    </tr>
</table>
